{% extends "wms/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}<title>Solvo.Web Справочник контрагентов</title>{% endblock %}
{% block page-header %}Справочник контрагентов{% endblock %}
{% block table_header %}
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Наименование</th>
          <th>Адрес</th>
          <th>Код</th>
        </tr>
      </thead>
      <tbody>
        {% for query in available_clients %}
            <tr>
              <td>{{ query.id }}</td>
              <td>{{ query.name }}</td>
              <td>{{ query.address }}</td>
              <td>{{ query.sdid }}t</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
