{% extends "wms/table.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}<title>Solvo.Web Справочник контрагентов</title>{% endblock %}
{% block page-header %}Справочник контрагентов{% endblock %}

{% block thead %}
    <tr>
        <th>#</th>
        <th>Наименование</th>
        <th>Адрес</th>
        <th>Код</th>
    </tr>
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
    $(document).ready(function() {
        var oTable = $('#table_header').dataTable( {
            "iDisplayLength": 15,
            "aLengthMenu": [[15, 25, 50, 100, -1], [15, 25, 50, 100, "All"]],
            "bProcessing": false,
            "bServerSide": true,
            "sAjaxSource": "{{data}}"
        });
    });
    </script>
{% endblock %}