{% extends "wms/index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extracss %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'wms/gridstack.css' %}">
    <link rel="stylesheet" href="{% static 'wms/sidebar.css' %}">
    <!--link rel="stylesheet" href="{% static 'wms/BootstrapXL.css' %}"-->
{% endblock %}

{% block extrajs %}
    <script src="{% static 'wms/highcharts.js' %}"></script>
	<script src="{% static 'wms/exporting.js' %}"></script>
    <script src="{% static 'wms/lodash.js' %}"></script>
    <script src="{% static 'wms/gridstack.js' %}"></script>
{% endblock %}

{% block title %}<title>Solvo.Web Dashboards</title>{% endblock %}
{% block page-header %}{% endblock %}


{% block wrapped-content %}

        <!--div class="overlay" style="display: block;"></div-->
        <nav class="navbar navbar-inverse navbar-fixed-top sidebar" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Dashboards
                    </a>
                </li>
                {% regroup dashboard_list|dictsort:"dashboard_group_id" by dashboard_group.name as dashboards_by_group %}
                {% for dashboard_group in dashboards_by_group %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{dashboard_group.grouper}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Состав</li>
                        {% for dashboard in dashboard_group.list %}
                            <li><a href="#">{{dashboard.name}}</a></li>
                        {% endfor %}
                        </ul>
                </li>
                {% endfor %}
            </ul>
        </nav>



    <div id="dashboard-snapshot" class="col-xs-12">

        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
        </button>


    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = true;
            console.log(isClosed);

        trigger.click(function () {
              hamburger_cross();
            });

        function hamburger_cross() {

            if (isClosed == true) {
                console.log(1);
                overlay.hide();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = false;
            } else {
                console.log(2);
                overlay.show();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
    </script>
{% endblock %}