{% extends "wms/index.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}<title>Solvo.Web DataTable</title>{% endblock %}
{% block page-header %}DataTable{% endblock %}

{% block table_header %}
    <table id="glucose_table" class="table table-striped table-hover datatable">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Адрес</th>
          <th>Код</th>
        </tr>
      </thead>
    </table>

{% endblock %}

{% block extracss %}

<!--link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css"/-->
{% endblock %}

{% block extrajs %}

<!--script type="text/javascript" charset="utf8" src="http://django-datatable-view.appspot.com/static/js/datatableview.js"></script-->
{% endblock %}


{% block script %}
    <script type="text/javascript">
    $(document).ready(function() {
        alert('{{ data }}');

        var oTable = $('#glucose_table').dataTable( {
            "iDisplayLength": 20,
            "aLengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{{data}}"
        });
    });
    </script>
{% endblock %}