{% extends "wms/index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

   <div class="row row-form-chart" id="row">
        <div class="col-sm-3 col-md-3">
            <div id="accordion" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBodyParams">
                            Новый график
                            <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseBodyParams" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% crispy form %}
                        <a name="anchor"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-md-9">
            <div id="accordion2" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBodyChart">
                            Документы за период<span class="glyphicon glyphicon-chevron-up pull-right"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseBodyChart" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="documents_over_period"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
		<script src="{% static 'wms/highcharts.js' %}"></script>
		<script src="{% static 'wms/exporting.js' %}"></script>
{% endblock %}


{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {

            // For changing the collapsed icon in the panels
            $('.collapse').on('shown.bs.collapse', function(){
                $(this).parent().find(".glyphicon-chevron-down")
                    .removeClass("glyphicon-chevron-down")
                    .addClass("glyphicon-chevron-up");
            }).on('hidden.bs.collapse', function(){
                $(this).parent().find(".glyphicon-chevron-up")
                    .removeClass("glyphicon-chevron-up")
                    .addClass("glyphicon-chevron-down");
            });

            //Initializing datetimepicker widgets for all elements with class='dateinput'
            $('#add_chart .dateinput').datetimepicker({ pickTime: false, format: 'DD.MM.YYYY'});

            //Clearing form(handled automatically somewhere inside) and div which might contain a chart already
            //Also removing "data-highcharts-chart" attribute since it is inherited during cloning rows and highcharts would clear element from current chart when you are making a new one
            //Thus when calling for new chart on the cloned form it may clear the chart on the previous form
            //I hope someone will understand last two lines
            $("input[name='reset']").click(function() {
                var row_id = $(this).parents('div .row').attr('id');
                $("div[id=" + row_id + "] [id^=documents_over_period]").empty();
                $("div[id=" + row_id + "] [id^=documents_over_period]").removeAttr('data-highcharts-chart');
            });

            //Need to fix datepickers later on
            /*$('#id_start_date').datepicker()
				.on('changeDate', function(){
				    alert($('#id_start_date').attr('value'));
				    alert($('#id_end_date').attr('value'))
					if ($('#id_start_date').attr('value') > $('#id_end_date').attr('value')){
						alert('The start date can not be greater then the end date1');
					} else {
					    alert('The start date can not be greater then the end date2');
					}
					$('#id_start_date').datepicker('hide');
            });

            $('#id_end_date').datepicker()
				.on('changeDate', function(){
					$('#id_end_date').datepicker('hide');
            });*/
       });
    </script>
    <script>
        //Adding new div with class='row' (I'll call it 'row' onward) to the page. Row includes the form itself and panel for the chart
        $("input[name='add']").click(function() {
            //Destroying all datetimpicker widgets on the current page. We will initialize it two lines later for all existing and new elements with class='dateinput'
            //Without this fix datetimepickers on new elements won't work properly
            $(document).find('.dateinput').each(function(){
                $(this).data("DateTimePicker").destroy();
            });

            //Not just cloning the last row, but also counting current number of rows present on the page in order to update 'id' attribute for new elements. Hail Stackoverflow
            cloneMore('div .row-form-chart:last', ($('div .row-form-chart').length));

            //Initializing datetimepicker widgets for all elements with class='dateinput'
            $(document).find('.dateinput').each(function(){
                $(this).datetimepicker({ pickTime: false, format: 'DD.MM.YYYY'});
            })

            //Scroll to the new row. Animate effect could be implemented here.
            $(".row-form-chart:last").get(0).scrollIntoView();
        });

        //The cloning function itself, it's just copying last row from the page to the variable and then updating it's attributes depending on current number for rows
        function cloneMore(selector, counter) {
            var newElement = $(selector).clone(true);

            newElement.find('[id]').each(function(){
                if(counter==1)
                    var id=$(this).attr('id') + '_' + counter
                else
                    var id=$(this).attr('id').replace('_'+(counter-1),'_'+counter)

                $(this).attr({'id': id });
            })

            newElement.find('[data-target]').each(function(){
                if(counter==1)
                    var datatarget=$(this).attr('data-target') + '_' + counter
                else
                    var datatarget=$(this).attr('data-target').replace('_'+(counter-1),'_'+counter)

                $(this).attr({'data-target': datatarget });
            })

            newElement.find('[name]').each(function(){
                if(counter==1)
                    var name=$(this).attr('name') + '_' + counter
                else
                    var name=$(this).attr('name').replace('_'+(counter-1),'_'+counter)

                $(this).attr({'name': name });
            })

            newElement.attr({'id': 'row_'+counter })
            //Putting processed new elements after last row (selector) on the page
            $(selector).after(newElement);

            //Triggering click on new form's reset button to bring it to primeval state
            $("div[id=row_" + counter + "] input[name^='reset']" ).trigger( "click" );
        }
    </script>
    <script type="text/javascript">
        //A call using Ajax to get data for chart and place it on the page when form is submitted (Submit button clicked)
        var chartDataUrl = "{% url 'wms:add_chart' %}";
        $('form').submit(function () {

            //saving current form object
            var frm = $(this)

            //Highcharts (http://www.highcharts.com/) object for shiny charts on the page. Bear in mind licence policy
            var basic = {
                chart: {zoomType: 'x', spacingRight: 20},
                title: {text: '',x : -20},
                xAxis: {title: {text : 'Дата'}},
                yAxis: {title: {text: 'Плановое кол-во документов'}},
                legend: {layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth: 0},
                series : []
            };

            var columns = {
                chart: {type: 'column'},
                title: {text: 'Monthly Average Rainfall'},
                subtitle: {text: 'Source: WorldClimate.com'},
                xAxis: {title: {text : 'Дата'}},
                yAxis: {title: {text: 'Плановое кол-во документов'}},
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series : []
            };

            var pie = {
                chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false},
                title: {text: 'Количество заявок от поклажедателей'},
                legend: {enabled: true},
                tooltip: {pointFormat: '{series.name}: <b>{point.percentage:.1f} %</b> ({point.y})'},
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.2f} % ({y})',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            },
                            showInLegend: true
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Количество заявок',
                    data: []
                }]
            };

                //The ajax call itself. Shouldn't be to hard for comprehension
                $.ajax({
                    type: $(this).attr('method'),
                    url: chartDataUrl,
                    data: $(this).serialize(),
                    success: function(chart_data) {
                        var y = 0;
                        var chart_field = 'documents_over_period';
                        var row_count= ''
                        if(frm.attr('id')!='add_chart'){
                            chart_field = chart_field + (frm.attr('id')).substr(-2);
                            row_count = (frm.attr('id')).substr(-2);}
                        $('#id_chart_type'+row_count).focus().select();
                        chart_type = $('#id_chart_type'+row_count).val()
                        if(chart_type == 'over_period'){
                            basic.chart["renderTo"]= chart_field;
                            $.each(chart_data, function(i, item) {
                                basic.xAxis.categories = chart_data[i]['dates'];
                                basic.series.push({ "name": i, "data": chart_data[i]['values'] });
                                y++
                            });
                            var chart = new Highcharts.Chart(basic);
                        }
                        else if (chart_type == 'pie'){
                            pie.chart["renderTo"]= chart_field;
                            $.each(chart_data, function(i, item) {
                                pie.series[0].data.push([ i, chart_data[i]['count'] ]);
                                y++;
                            });
                            var chart = new Highcharts.Chart(pie)
                        }
                        else if (chart_type == 'columns'){
                            columns.chart["renderTo"]= chart_field;
                            $.each(chart_data, function(i, item) {
                                columns.xAxis.categories = chart_data[i]['dates'];
                                columns.series.push({ "name": i, "data": chart_data[i]['values'] });
                                y++
                            });
                            var chart = new Highcharts.Chart(columns);
                        }
                        else{
                            alert("Sorry, something went wrong!");
                        }

                    },
                    error: function(data) {
                        alert("Sorry, something went wrong!");
                    }
            });
            //Not sure why it should be false, but it works for now
            return false;
        });
    </script>

{% endblock %}