{% extends "wms/index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block page-header %}{% endblock %}
{% block content %}
   <div class="row row-form-chart" id="row">
        <div class="col-sm-12 col-md-12">
            <div id="accordion" class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBodyParams">
                            Построить график
                            <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseBodyParams" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% crispy form %}
                        <a name="anchor"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12">
            <div id="accordion2" class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBodyChart">
                            Документы за период<span class="glyphicon glyphicon-chevron-up pull-right"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseBodyChart" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="documents_over_period"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extracss %}
    <!--link rel="stylesheet" href="{% static 'wms/jquery-ui.css' %}"-->
{% endblock %}

{% block extrajs %}
    <!--script src="{% static 'wms/jquery-ui.js' %}"></script-->
    <!--script src="{% static 'wms/datepicker-ru.js' %}"></script-->
    <script src="{% static 'wms/highcharts.js' %}"></script>
	<script src="{% static 'wms/exporting.js' %}"></script>
{% endblock %}

{% block script %}
    <!--script>
        $(function() {
            $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
            $( "#id_start_date" ).datepicker({
                showWeek: true,
                firstDay: 1,
                dateFormat: "dd.mm.yy",
                regional: "ru"
            });
        });
    </script-->
    <script>
        $(function() {
            $('.dateinput').datepicker({
                autoclose: true,
                language: "ru",
                orientation: "top left",
                format: "dd.mm.yyyy",
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            // For changing the collapsed icon in the panels
            $('.collapse').on('shown.bs.collapse', function(){
                $(this).parent().find(".glyphicon-chevron-down")
                    .removeClass("glyphicon-chevron-down")
                    .addClass("glyphicon-chevron-up");
            }).on('hidden.bs.collapse', function(){
                $(this).parent().find(".glyphicon-chevron-up")
                    .removeClass("glyphicon-chevron-up")
                    .addClass("glyphicon-chevron-down");
            });
        });
    </script>
    <script type="text/javascript">
    //A call using Ajax to get data for chart and place it on the page when form is submitted (Submit button clicked)
    var chartDataUrl = "{% url 'wms:new_chart' %}";
    $('form').submit(function () {

        //saving current form object
        var frm = $(this)

        //Highcharts (http://www.highcharts.com/) object for shiny charts on the page. Bear in mind licence policy
        var basic = {
            chart: {zoomType: 'x', spacingRight: 20, height: 400,},
            title: {text: '',x : -20},
            xAxis: {title: {text : 'Дата'}},
            yAxis: {title: {text: 'Плановое кол-во документов'}},
            legend: {layout: 'horizontal', align: 'center', verticalAlign: 'bottom', borderWidth: 0},
            series : []
        };

        var columns = {
            chart: {type: 'column', height: 400,},
            title: {text: 'Monthly Average Rainfall'},
            subtitle: {text: 'Source: WorldClimate.com'},
            xAxis: {title: {text : 'Дата'}},
            yAxis: {title: {text: 'Плановое кол-во документов'}},
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series : []
        };

        var pie = {
            chart: {plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false, height: 400,},
            title: {text: 'Количество заявок от поклажедателей'},
            legend: {enabled: true},
            tooltip: {pointFormat: '{series.name}: <b>{point.percentage:.1f} %</b> ({point.y})'},
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.2f} % ({y})',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        },
                        showInLegend: true
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Количество заявок',
                data: []
            }]
        };

            //The ajax call itself. Shouldn't be to hard for comprehension
            $.ajax({
                type: $(this).attr('method'),
                url: chartDataUrl,
                data: $(this).serialize(),
                success: function(chart_data) {
                    var y = 0;
                    var chart_field = 'documents_over_period';
                    var row_count= ''
                    if(frm.attr('id')!='add_chart'){
                        chart_field = chart_field + (frm.attr('id')).substr(-2);
                        row_count = (frm.attr('id')).substr(-2);}
                    $('#id_chart_type'+row_count).focus().select();
                    chart_req = eval( "(" + $('#id_chart_type').val() + ")" );
                    chart_type = chart_req['chart_type_name'];
                    if(chart_type == 'line_chart'){
                        basic.chart["renderTo"]= chart_field;
                        $.each(chart_data, function(i, item) {
                            basic.xAxis.categories = chart_data[i]['dates'];
                            basic.series.push({ "name": i, "data": chart_data[i]['values'] });
                            y++
                        });
                        var chart = new Highcharts.Chart(basic);
                    }
                    else if (chart_type == 'pie'){
                        pie.chart["renderTo"]= chart_field;
                        $.each(chart_data, function(i, item) {
                            var total = 0;
                            $.each(chart_data[i]['values'],function() {
                                total += this;
                            });
                            pie.series[0].data.push([ i, total ]);
                            y++;
                        });
                        var chart = new Highcharts.Chart(pie)
                    }
                    else if (chart_type == 'columns'){
                        columns.chart["renderTo"]= chart_field;
                        $.each(chart_data, function(i, item) {
                            columns.xAxis.categories = chart_data[i]['dates'];
                            columns.series.push({ "name": i, "data": chart_data[i]['values'] });
                            y++
                        });
                        var chart = new Highcharts.Chart(columns);
                    }
                    else{
                        alert('aaa');
                        alert("Sorry, something went wrong!");
                    }

                },
                error: function(data) {
                    alert("Sorry, something went wrong!");
                }
            });
            //Not sure why it should be false, but it works for now
            return false;
        });
    </script>
{% endblock %}
