{% extends "wms/index.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

    <!--div class="row">
        <div class="col-lg-12">
            <h2>Alerts</h2>
            <div class="bs-component">
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert"/>&times;</button>
                    <h4>Warning!</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div-->


   <div class="row" id="rowrow">
        <div class="col-sm-3 col-md-3">
            <div id="accordion" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBodyParams">
                            Новый график
                            <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseBodyParams" class="panel-collapse collapse in">
                    <div class="panel-body">
                        {% crispy form %}
                        <a name="anchor"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9 col-md-9">
            <div id="accordion2" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBodyChart">
                            Документы за период<span class="glyphicon glyphicon-chevron-up pull-right"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseBodyChart" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="documents_over_period"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
		<script src="{% static 'wms/highcharts.js' %}"></script>
		<script src="{% static 'wms/exporting.js' %}"></script>
{% endblock %}


{% block script %}
    <script>
        $("input[name='add']").click(function() {
            $(document).find('.dateinput').each(function(){
                $(this).data("DateTimePicker").destroy();
            });
            cloneMore('.row:last', ($('form').length));
            /*document.location.href =  $("a[name='anchor']:last")*/

            $("form:last").get(0).scrollIntoView();

        });

        function cloneMore(selector, counter) {
            var newElement = $(selector).clone(true);
            newElement.find('[id]').each(function(){
                if(counter==1)
                    var id=$(this).attr('id') + '_' + counter
                else
                    var id=$(this).attr('id').replace('_'+(counter-1),'_'+counter)

                $(this).attr({'id': id });
            })

            newElement.find('[data-target]').each(function(){
                if(counter==1)
                    var datatarget=$(this).attr('data-target') + '_' + counter
                else
                    var datatarget=$(this).attr('data-target').replace('_'+(counter-1),'_'+counter)

                $(this).attr({'data-target': datatarget });
            })

            newElement.find('[name]').each(function(){
                if(counter==1)
                    var name=$(this).attr('name') + '_' + counter
                else
                    var name=$(this).attr('name').replace('_'+(counter-1),'_'+counter)

                $(this).attr({'name': name });
            })

            newElement.attr({'id': 'row_'+counter })
            $(selector).after(newElement);

            $(document).find('.dateinput').each(function(){
                $(this).datetimepicker({ pickTime: false, format: 'DD.MM.YYYY'});
            })
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {

    // For changing the icon in the Options panel
        $('.collapse').on('shown.bs.collapse', function(){
            $(this).parent().find(".glyphicon-chevron-down")
                .removeClass("glyphicon-chevron-down")
                .addClass("glyphicon-chevron-up");
        }).on('hidden.bs.collapse', function(){
            $(this).parent().find(".glyphicon-chevron-up")
                .removeClass("glyphicon-chevron-up")
                .addClass("glyphicon-chevron-down");
        });

        $('#add_chart .dateinput').datetimepicker({ pickTime: false,format: 'DD.MM.YYYY'});

            /*$('#id_start_date').datepicker()
				.on('changeDate', function(){
				    alert($('#id_start_date').attr('value'));
				    alert($('#id_end_date').attr('value'))
					if ($('#id_start_date').attr('value') > $('#id_end_date').attr('value')){
						alert('The start date can not be greater then the end date1');
					} else {
					    alert('The start date can not be greater then the end date2');
					}
					$('#id_start_date').datepicker('hide');
            });

            $('#id_end_date').datepicker()
				.on('changeDate', function(){
					$('#id_end_date').datepicker('hide');
            });*/
       });
    </script>
    <script type="text/javascript">
        var frm = $('#add_chart');
        var chartDataUrl = "{% url 'wms:add_chart' %}";
        $('form').submit(function () {

            var documentsCount = {
                chart: {renderTo: 'documents_over_period', zoomType: 'x', spacingRight: 20},
                title: {text: '',x : -20},
                xAxis: {title: {text : 'Дата'}},
                yAxis: {title: {text: 'Плановое кол-во документов'}, plotLines: [{value: 0, width: 1,color: '#808080'}]},
                legend: {layout: 'vertical', align: 'right', verticalAlign: 'middle', borderWidth: 0},
                series : []
            };

                $.ajax({
                    type: frm.attr('method'),
                    url: chartDataUrl,
                    data: $(this).serialize(),
                    success: function(data) {
                        var y=0;
                        $('#id_chart_type').focus().select();
                        $.each(data, function(i, item) {
                            documentsCount.xAxis.categories = data[i]['dates'];
                            /*documentsCount.series[y].data = data[i]['values'];
                            documentsCount.series[y].name = i;*/
                            documentsCount.series.push({ "name": i, "data": data[i]['values'] });
                            y++
                        });
                        var chart = new Highcharts.Chart(documentsCount);
                    },
                    error: function(data) {
                        alert("Sorry, something went wrong!");
                    }
            });
            return false;
        });
    </script>

{% endblock %}