{% extends "wms/index.html" %}
{% load staticfiles %}
{% load i18n %}
{% block extrajs %}
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div id="documents_over_period" class="panel-body"></div>
    </div>
    <div class="panel panel-default">
        <div id="holder_orders" class="panel-body"></div>
    </div>

    <script type="text/javascript">
$(function () {
   var chart1 = new Highcharts.Chart({
      chart : {
         renderTo : 'documents_over_period',
         zoomType : 'x',
         spacingRight : 20
      },
      title : {
         text : '',
         x : -20
      },
      xAxis : {
         title : {
            text : 'Дата'
         },
         categories : [
            {% for x, y in order_stats %}
                '{{ x|date:"M j" }}',
            {% endfor %}
         ]
      },
      yAxis : {
         title : {
            text : 'Плановое кол-во документов'
         },
         plotLines : [ {
            value : 0,
            width : 1,
            color : '#808080'
         } ]
      },
      legend : {
         layout : 'vertical',
         align : 'right',
         verticalAlign : 'middle',
         borderWidth : 0
      },
      series : [ {
         name : 'Заказы',
         data : [
            {% for x, y in order_stats %}
                {{ y }},
            {% endfor %}
         ]
      },{
         name : 'Поставки',
         data : [
            {% for x, y in incoming_stats %}
                {{ y }},
            {% endfor %}
         ]
      }]
   });

})


        </script>
        <script type="text/javascript">
$(function () {
    $('#holder_orders').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Количество заявок от поклажедателей'
        },
        legend: {
            enabled: true
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f} %{y}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.2f} %{y}',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    showInLegend: true
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                {% for query in orders_by_holders %}
                ['{{query.client_name}}',{{query.id__count}}],
                {% endfor %}
             ]
        }]
    });
  })
        </script>
{% endblock %}
{% block script %}



{% endblock %}
