{% extends "wms/index.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
{% block body %}
<div id="documents_over_period" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="holder_orders" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        <script type="text/javascript">
$(function () {
   var chart1 = new Highcharts.Chart({
      chart : {
         renderTo : 'documents_over_period',
         zoomType : 'x',
         spacingRight : 20
      },
      title : {
         text : '',
         x : -20
      },
      xAxis : {
         title : {
            text : 'Zeit'
         },
         categories : [
            {% for x, y in order_stats %}
                '{{ x }}',
            {% endfor %}
         ]
      },
      yAxis : {
         title : {
            text : 'Menge'
         },
         plotLines : [ {
            value : 0,
            width : 1,
            color : '#808080'
         } ]
      },
      legend : {
         layout : 'vertical',
         align : 'right',
         verticalAlign : 'middle',
         borderWidth : 0
      },
      series : [ {
         name : 'orders',
         data : [
            {% for x, y in order_stats %}
                {{ y }},
            {% endfor %}
         ]
      },{
         name : 'incomings',
         data : [
            {% for x, y in incoming_stats %}
                {{ y }},
            {% endfor %}
         ]
      }]
   });

})


        </script>
        <script type="text/javascript">
$(function () {
    $('#holder_orders').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Browser market shares at a specific website, 2014'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                {% for query in orders_by_holders %}
                ['{{query.client_name}}',{{query.id__count}}],
                {% endfor %}
             ]
        }]
    });
  })
        </script>
{% endblock %}
{% block script %}



{% endblock %}
