        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Линия</th>
              <th>Артикул</th>
              <th>Наименование</th>
              <th>Ожидалось</th>
              <th>Принято</th>

            </tr>
          </thead>
          <tbody>
            {% for query in current_incoming_details %}
                <tr id="{{ query.id }}">
                  <td>{{ query.line }}</td>
                  <td>{{ query.sku_id }}</td>
                  <td>{{ query.sku_name }}</td>
                  <td>{{ query.qty }}</td>
                  <td>{{ query.received }}</td>
                </tr>
            {% empty %}
                <div class="container">
                    <div class="page-header" id="banner">
                        <div class="row">
                            <div class="col-lg-6">
                                <p id="doc_info" class="lead">Детали не найдены</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </tbody>
        </table>