{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" -->

        {% block title %}<title>Solvo.Web</title>{% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'wms/custom.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'wms/superhero.bootstrap.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'wms/bootstrap-datetimepicker.css' %}"/>
        {% block extracss %}{% endblock %}

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.js"></script>
        <script src="{% static 'wms/bootstrap.js' %}"></script>
        <script src="{% static 'wms/bootswatch.js' %}"></script>
        <script src="{% static 'wms/moment.min.js' %}"></script>
        <script src="{% static 'wms/bootstrap-datetimepicker.js' %}"></script>

        {% block extrajs %}{% endblock %}

        <script>
             var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-23019901-1']);
              _gaq.push(['_setDomainName', "bootswatch.com"]);
                _gaq.push(['_setAllowLinker', true]);
              _gaq.push(['_trackPageview']);

             (function() {
               var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
               ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
        <link id="dyncss" rel="stylesheet" type="text/css" href="">
        <script type="text/javascript">
            function setDynCSS(url) {
            if (!arguments.length) {
            url = (url = document.cookie.match(/\bdyncss=([^;]*)/)) && url[1];
            if (!url) return '';
            }
            document.getElementById('dyncss').href = url;
            var d = new Date();
            d.setFullYear(d.getFullYear() + 1);
            document.cookie = ['dyncss=', url, ';expires=', d.toGMTString(), ';path=/;'].join('');
            return url;
            }
            setDynCSS();
        </script>

        {% block head %}{% endblock %}

    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/wms/main" class="navbar-brand">Solvo.Web</a>
                </div>

                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="reference">Справочники<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="download">
                                <li><a href="/wms/client">Контрагенты</a></li>
                                <li><a href="/wms/sku">Товары</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="documents">Документы<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="download">
                                <li><a href="/wms/order">Заказы</a></li>
                                <li><a href="/wms/incoming">Поставки</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="graph">Отчетность<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="download">
                                <li><a href="/wms/graph">Графики</a></li>
                                <li><a href="/wms/graph2">Графики 2</a></li>
                                <li><a href="/wms/graph3">Графики 3</a></li>
                                <li><a href="/wms/graph4">Графики 4</a></li>
                                <li><a href="/wms/form">Форма</a></li>
                                <li><a href="/wms/form2">Форма2</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/wms/profile">{{ user.first_name }}</a></li>
                        <li><a href="/wms/logout">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="lead">{% block page-header %}Главная{% endblock %}</p>
                    </div>
                </div>
            </div>
        </div>

        {% block body %}{% endblock %}

            <div class="container">
                {% block content %}
                {% endblock %}
            </div>

            <div class="container">
                {% block header %}
                {% endblock %}
            </div>

            <div class="container">
                {% block table_header %}
                {% endblock %}
            </div>

            <div class="container">
                {% block table_detail %}
                {% endblock %}
            </div>

        {% block detail %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </body>
</html>