{% extends "wms/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
<h1 id="site-name">{% trans 'Solvo.Web order list' %}</h1>
{% endblock %}
{% block header %}
<table border="1">
    {% for a in available_orders %}
    <tr>
        <td>{{ a.display_name }}</td>
        <td>{{ a.holder }}</td>
    </tr>
    <p>Ваши заказы, {{ user.first_name }}</p>
    {% endfor %}
{% endblock %}
{% block detail %}
</table>
    <table border="1">
        {% for i in available_order_details %}
        <tr>
            <td>{{ i.sku }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}