        <div class="container">
            <div class="page-header" id="banner">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="lead">Детали заказов</p>
                    </div>
                </div>
            </div>
        </div>
{% block table_detail %}
        <div id="need_scroll">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th id="jsts">Линия</th>
              <th>Артикул</th>
              <th>Наименование</th>
              <th>Количество</th>
              <th>Спланировано</th>
              <th>Отобрано</th>
              <th>Упаковано</th>
              <th>Отгружено</th>
            </tr>
          </thead>
            {% for query in current_order_details %}
                <tr id="{{ query.id }}">
                  <td>{{ query.line }}</td>
                  <td>{{ query.sku_id }}</td>
                  <td>{{ query.sku_name }}</td>
                  <td>{{ query.qty }}</td>
                  <td>{{ query.planned }}</td>
                  <td>{{ query.moved }}</td>
                  <td>{{ query.packed }}</td>
                  <td>{{ query.shiped }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
