{% extends "wms/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
        <style type="text/css">
        table {
            width:  100%;
            border-collapse: collapse;
        }
        td {
            border: 1px solid black;
        }
        .scrollingTable {
            width: 30em;
            overflow-y: auto;
        }
    </style>

        <script type="text/javascript">
        function makeTableScroll() {
            // Constant retrieved from server-side via JSP
            var maxRows = 20;

            var table = document.getElementById('order_header');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = height + "px";
            }
        }
    </script>

        <h1 id="site-name">{% trans 'Solvo.Web order list' %}</h1>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
               $('#order_header').on('click', 'tr', function(){
                    $.ajax({url:"/wms/order_detail/",
                        data:{id: $(this).attr("id")},
                        type: "POST",
                        dataType: "json",
                        success: function(response) {
                            var order_details = eval(response);
                            var base="<table id='order_details' border='1'><tr><th>Заказ</th><th>Товар</th> \
                            <th>Количество</th></tr>";
                            $.each(order_details, function(i, item) {
                                /*alert(item.fields.units);*/
                                base=base+'<tr>';
                                base=base+'<td>'+item.fields.order+'</td>';
                                base=base+'<td>'+item.fields.sku+'</td>';
                                base=base+'<td>'+item.fields.qty+'</td>';
                                base=base+'</tr>';
                                $("#order_details_place").html(base);
                            })
                        }
                        /*success:function(result.model){
                            $("#order_details_place").html(result)}*/
                    });
                })
            });
        </script>
{% endblock %}

{% block header %}
<p>Ваши заказы, {{ user.first_name }}</p>
<body onload="makeTableScroll();">
<div class="scrollingTable">
<table id="order_header" border="1">
    <tr><th>Номер</th><th>Накладная</th><th>Владелец</th></tr>
    {% for a in available_orders %}
    <tr id="{{ a.id }}">
        <td>{{ a.id }}</td>
        <td>{{ a.display_name }}</td>
        <td>{{ a.holder }}</td>
    </tr>
    {% endfor %}
</table>
</div>
</body>
{% endblock %}

{% block detail %}
    <!--table border="1">
        {% for i in available_order_details %}
        <tr>
            <td>{{ i.sku }}</td>
        </tr>
        {% endfor %}
    </table-->
<div id='order_details_place'></div>
{% endblock %}
