{% extends "wms/table_detailed.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}<title>Solvo.Web Заказы</title>{% endblock %}
{% block page-header %}Заказы{% endblock %}

{% block header_thead %}
    <tr>
        <th>#</th>
        <th>Код</th>
        <th>Накладная</th>
        <th>Дата отгрузки</th>
        <th>Статус</th>
    </tr>
{% endblock %}

{% block detail_header %}Детали заказа{% endblock %}

{% block detail_thead %}
    <tr>
        <th>Линия</th>
        <th>Артикул</th>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Спланировано</th>
        <th>Отобрано</th>
        <th>Упаковано</th>
        <th>Отгружено</th>
    </tr>
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
    <script src="{% static 'wms/scripts.js' %}"></script>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    $(document).ready(function() {
        var oTable = $('#table_header').dataTable( {
            "iDisplayLength": 15,
            "aLengthMenu": [[15, 25, 50, 100, -1], [15, 25, 50, 100, "All"]],
            "bProcessing": false,
            "bServerSide": true,
            "sAjaxSource": "{{data}}"
        });

        var oTableDetail = $('#table_detail').dataTable( {
            "iDisplayLength": 15,
            "aLengthMenu": [[15, 25, 50, 100, -1], [15, 25, 50, 100, "All"]],
            "bProcessing": false,
            "bServerSide": true,
            "sAjaxSource": "{{detail_data}}",

        });

        $('#table_header').on('click', 'tbody tr', function(){
                var doc_id=$(this).attr("id")
                $.ajax({url:"",
                    data:{doc_id: doc_id},
                    type: "POST",
                    success: function(data) {
                        oTableDetail.fnReloadAjax(data);
                        oTableDetail.fnDrawCallback(alert( 'DataTables has redrawn the table' ))
                      }
                });
            })
            /*$( "tbody tr" ).click(function() {
                $(' .info').toggleClass("info").toggleClass("nonSelectedRow");
                $(this).toggleClass("nonSelectedRow").toggleClass("info");
            });
            */
    });
    </script>
{% endblock %}