{% extends "wms/main.html" %}
{% load staticfiles %}
{% load i18n %}
{% block page-header %}Справочник товаров{% endblock %}
{% block table_header %}
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Артикул</th>
          <th>Наименование</th>
          <th>Код товара</th>
        </tr>
      </thead>
      <tbody>
        {% for as in available_sku %}
            <tr>
              <td>{{ as.id }}</td>
              <td>{{ as.sku_id }}</td>
              <td>{{ as.name }}</td>
              <td>{{ as.sdid }}t</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
