{% extends "wms/index.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}<title>Solvo.Web Справочник товаров</title>{% endblock %}
{% block page-header %}Справочник товаров{% endblock %}

{% block table_header %}
    <div class="container">
        <table id="table_header" class="table table-striped table-hover datatable">
          <thead>
            <tr>
              <th>#</th>
              <th>Артикул</th>
              <th>Наименование</th>
              <th>Код товара</th>
            </tr>
          </thead>
        </table>
    </div>
{% endblock %}

{% block extracss %}
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
    $(document).ready(function() {
        var oTable = $('#table_header').dataTable( {
            "iDisplayLength": 15,
            "aLengthMenu": [[15, 25, 50, 100, -1], [15, 25, 50, 100, "All"]],
            "bProcessing": false,
            "bServerSide": true,
            "sAjaxSource": "{{data}}"
        });
    });
    </script>
{% endblock %}