.gridcontainer {
    height: 100%;
}

.grid {
  position: relative;
  list-style: none;
  height: 100%;
  padding-left: 0px;
  /* Will be modified by the grid jquery lib, depending on the items */
  -webkit-transition: width 0.2s;
}

  .grid li {
    position: absolute;
    z-index: 1;
    font-weight:  normal;
    line-height: 1em;
    text-align: center;
    cursor: pointer;

    -webkit-transition: top 0.2s,
                        left 0.2s,
                        width 0.2s,
                        height 0.2s,
                        font-size 0.2s,
                        line-height 0.2s;
  }

  .grid li .inner {
    position: relative;
    background: #fff;
    border: 1px solid #bbb;
    -webkit-transition: background 3s;
  }

    .grid li.changed .inner {
    background: #ffff66;
    -webkit-transition: none;
  }
  .grid li.ui-draggable-dragging {
    -webkit-transition: none;
  }
  .grid li.position-highlight {
    -webkit-transition: none;
  }
    .grid li.position-highlight .inner {
      border: none;
      background: #ccc;
    }
  .grid .controls {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    font-size: 0.4em;
    font-weight: normal;
    line-height: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
  }
    .grid .controls .resize {
      font-size: 0.6em;
      float: left;
      margin: 5px 5px 0 0;
      padding: 0.3em;
      background: #fafafa;
      color: #444;
      text-decoration: none;
    }
    .grid .controls .resize:hover {
      background: #f1f1f1;
    }
  .grid li:hover .controls {
    opacity: 1;
  }

  html, body
{
    height: 100%;
}